@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #00ff88;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "Lobster Two";
  font-size: 5rem;
  color: rgb(250, 129, 149);
  text-shadow: 1px 1px 0 rgb(228, 80, 72),
               2px 2px 0 rgb(228, 80, 72),
               3px 3px 0 rgb(228, 80, 72),
               4px 4px 0 rgb(220, 72, 60),
               5px 5px 0 rgb(220, 72, 60),
               6px 6px 0 rgb(250, 100, 80),
               7px 7px 10px rgba(0, 0, 0, 0.5);
}
